<!DOCTYPE html>
<html ng-app="its2020">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ITS2020</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
    
<body class="workarea" ng-controller="Ctrl1 as ctrl">
    
    <div class="container">

		<h1>Zaczynamy ITS2020!</h1>
	
        Projekt bazowy do dalszych rozważań.
        
        <div ng-bind="ctrl.x"></div>
        <input type="number" ng-model="ctrl.x"/>
        <button ng-click="ctrl.getDane()">Pobierz</button>
        <button ng-click="ctrl.postDane()">Ustaw</button>
	</div>
    
<script src="/js/angular.min.js"></script>
<script src="/js/ui-bootstrap-tpls.min.js"></script>

<script src="/js/app.js"></script>

</body></html>